<div class="audio-player">
    <div class="track-info">
        <div class="track-metadata">
            <span class="titre-artiste">Titre de la chanson</span>
            
        </div>
        <div class="nom-artiste">
            <span class="nom-artiste">Nom de l'artiste</span>
        </div>
    </div>
    <div class="progress-bar">
        <input type="range" id="progress" value="0">
    </div>
    <div class="controls">
        <button id="prev"><<</button>
        <button id="play">||</button>
        <button id="next">>></button>
    </div>
    
</div>
