<!-- home.component.html -->
<div class="home-container">
    <header class="home-header">


        <app-navbar></app-navbar>
    </header>
    <div class="degrade"></div>
    <div class="titre-du-moment">
        Les titres les plus écoutés
    </div>
    <div class="container-card">
        <app-album-card></app-album-card>
        <app-album-card></app-album-card>
        <app-album-card></app-album-card>
        <app-album-card></app-album-card>
        <app-album-card></app-album-card>
    </div>



</div>