<!-- home.component.html -->
<div class="home-container">
    <header class="home-header">


        <app-navbar></app-navbar>
    </header>
    <div class="degrade"></div>
    <div class="titre-du-moment">
        Les titres les plus écoutés
    </div>
    <div class="container-card">
        <div class="container-card">
            <app-album-card class="albumCard" titre="Zoo" artiste="Kaaris"
                image="assets/images/zoo.jpeg"></app-album-card>

            <app-album-card class="albumCard" titre="todo" artiste="Kaaris"
                image="assets/images/celinedion.jpeg"></app-album-card>

            <app-album-card class="albumCard" titre="todo" artiste="Kaaris"
                image="assets/images/garou.jpeg"></app-album-card>

            <app-album-card class="albumCard" titre="todo" artiste="Kaaris"
                image="assets/images/kalash.jpeg"></app-album-card>

            <app-album-card class="albumCard" titre="todo" artiste="Kaaris"
                image="assets/images/lafouine.jpeg"></app-album-card>
        </div>


    </div>



</div>